body {
   
    background: url("img/pixa.jpg");
    background: position 200px;
}

img    {
    border-radius: 60%;
    max-width:200px;
    width: auto;
}
h1 {
    color: rgb(2, 2, 2);
    padding: 40px;
} 

p{ 


    color: #0a0a0a;
    padding: 10px;
}


